/*This file is for your custom css.  All yours*/
@font-face {
  font-family: "fira";
  src: url(../fonts/fira-sans/FiraSans-Regular.otf);
}

* {
  font-family: "fira";
}

body {
  text-align: center;
}

.glyphicon {
  font-size: 1.5em;
}

ul {
  list-style-type: none;
  margin: 1em 0;
  padding-left: 0;
}

ul:hover {
  color: tomato;
}

li {
  display: inline-block;
  font-size: 1.2em;
  padding: .25em;
  margin: 0.25em;
}

.block {
  display: block;
}

h2 {
  line-height: 2px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: tomato;
  text-decoration: none;
}

.excla {
  font-size: 2em;
}

.active {
  color: tomato;
}

section#branding-area {
  margin-top: 1em;
  background-image: url(../img/branding-background.JPG);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 60vh;
}

section#branding-area h1 {
  color: white;

}

#visit-form {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 2em;
  padding-top: 0.5em;
  border-radius: 3px;
}

#visit-form button, #visit-form select {
  margin-bottom: 0.5em;
}

#journey-to-space {
  color: white;
  opacity: 0.6;
  background-image: url("../img/astronaut.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(70, 142, 229, 0.8);
  background-position: 0 2em;
  padding-bottom: 10vh;
}

#journey-to-space p {
  font-size: 1.4em;
}

#activities .row{
  background: rgba(226,226,226,1);
  background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(100%, rgba(254,254,254,1)));
  background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
  background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
  background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
  background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
}

#tent, #popcorn, #rover, #telescope {
  background-position: bottom;
  background-size: 55%;
  padding-bottom: 30%;
  background-repeat: no-repeat;
}

#tent {
  background-image: url(../img/tent.png);
}
#popcorn {
  background-image: url(../img/popcorn.png);
}
#rover {
  background-image: url(../img/rover.png);
}
#telescope {
  background-image: url(../img/telescope.png);
}
